* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
*::before,
*::after {
  box-sizing: border-box;
}
@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  background: transparent url(bRapGod_1a2CKT-.jpeg) no-repeat center;
}
.page .disc-container {
  position: relative;
}
.page .disc-container .pointer {
  width: 26vw;
  position: absolute;
  left: 46vw;
}
.page .disc-container .disc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18vw;
  position: relative;
}
.page .disc-container .disc .icon-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  width: 20vw;
  height: 20vw;
  justify-content: center;
  align-items: center;
  border: solid 1px #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
.page .disc-container .disc .icon-wrapper .icon {
  width: 10vw;
  fill: #fff;
}
.page .disc-container .disc .ring {
  width: 80vw;
}
.page .disc-container .disc .light {
  width: 80vw;
  position: absolute;
  z-index: 1;
}
.page .disc-container .disc .cover {
  width: 50vw;
  position: absolute;
  border-radius: 50%;
  animation: circle 15s infinite linear;
  animation-play-state: paused;
}
.page .disc-container .playing .light,
.page .disc-container .playing .cover {
  animation: circle 15s infinite linear;
  animation-play-state: running;
}
.page .disc-container .icon-pause {
  display: none;
}
.page .disc-container .playing .icon-play {
  display: none;
}
.page .disc-container .playing .icon-pause {
  display: block;
}
.page .song-description {
  flex-grow: 1;
  color: #fff;
  text-align: center;
  line-height: 2;
  margin-top: 20px;
  z-index: 1;
  padding: 0vw 8.8vw;
}
.page .song-description h1 {
  font-size: 5vw;
  color: #fefefe;
}
.page .song-description h1 span {
  font-size: 4vw;
  color: rgba(255, 255, 255, 0.6);
}
.page .song-description .lyric {
  height: 27vw;
  overflow: hidden;
}
.page .song-description .lyric .lines {
  transition: transform 0.3s;
}
.page .song-description .lyric p {
  line-height: 9vw;
  font-size: 3.88vw;
  font-family: Helvetica, sans-serif;
  color: #ccc;
}
.page .song-description .lyric .active {
  color: #fff;
  font-size: 4vw;
  font-weight: 600;
}
.page .links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d43b32;
  z-index: 1;
}
.page .links a {
  width: 36vw;
  margin: 1em;
  text-align: center;
  text-decoration: none;
  background: transparent;
  border: #d43b32 1px solid;
  border-radius: 1.5vw;
  padding: 2vw;
  color: inherit;
  letter-spacing: 1vw;
}
.page .links .play {
  background: #d43b32;
  color: #fff;
}
.page:before {
  content: '';
  display: block;
  position: absolute;
  border: 1px solid;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3 {
  font-weight: normal;
  font-family: Helvetica, sans-serif;
  color: #333;
}
body {
  font-size: 3.7vw;
}
section > h2:first-child {
  font-size: 4.53vw;
  border-left: 2px solid #D33A31;
  margin: 4vw 0;
  padding-left: 2vw;
  line-height: 4.7vw;
  max-height: 3.7vw;
}
a {
  text-decoration: none;
  color: inherit;
}
.topbar {
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0;
  background: #D43C33;
  padding: 4.8vw 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbar .logo {
  width: 38vw;
}
.topbar .sourceCode {
  max-height: 7vw;
  line-height: 7.2vw;
  border: solid #fff 1px;
  border-radius: 3.5vw;
  color: #fff;
  text-decoration: none;
  padding: 0 1em;
  letter-spacing: 0.1em;
}
.siteNav {
  position: fixed;
  z-index: 3;
  top: 16.5vw;
  background: #fff;
  width: 100%;
}
.siteNav > ol {
  display: flex;
  text-align: center;
  border-bottom: 1px solid #ccc;
  font-size: 1.1em;
}
.siteNav > ol > li {
  flex: 1;
}
.siteNav > ol > li > span {
  max-height: 10.3vw;
  line-height: 11.3vw;
  display: inline-block;
  position: relative;
}
.siteNav > ol > li.active {
  color: #D43C33;
}
.siteNav > ol > li.active > span::before {
  content: '';
  position: absolute;
  border-bottom: solid 2px #D43C33;
  bottom: -0.3vw;
  left: -1.5vw;
  right: -1.5vw;
}
.playlists {
  margin-top: 31.5vw;
}
.playlists > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.playlists > ul li {
  width: calc(32.8333333%);
  margin-bottom: 4vw;
  position: relative;
}
.playlists > ul .listen {
  width: 3.2vw;
  height: 3.2vw;
  fill: #fff;
}
.playlists > ul span {
  position: absolute;
  top: 0;
  right: 1vw;
  color: #fff;
  font-size: 3.5vw;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  line-height: 7vw;
}
.playlists > ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 6vw;
  z-index: 2;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2), transparent);
}
.playlists > ul img {
  width: 100%;
}
.playlists > ul p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.95em;
  padding: 0.5vw 1.6vw;
  line-height: 4.6vw;
  color: #333;
}
.lastestMusic > p {
  text-align: center;
}
.lastestMusic ol {
  padding-left: 2.8vw;
}
.lastestMusic ol li {
  border-bottom: 1px solid #E2E2E3;
  padding: 1.6vw 0;
  position: relative;
}
.lastestMusic ol li h3 {
  font-size: 4.6vw;
  line-height: 7vw;
  color: #333;
}
.lastestMusic ol li p {
  font-size: 4vw;
  color: #888;
  display: flex;
  line-height: 1;
  align-items: center;
}
.lastestMusic ol li .playCl {
  width: 5.9vw;
  height: 5.9vw;
  position: absolute;
  right: 4vw;
  top: 50%;
  transform: translateY(-50%);
  fill: #AAA;
}
.lastestMusic ol li .hide {
  display: none;
}
.lastestMusic ol li .sq {
  width: 4.2vw;
  height: 4.2vw;
  fill: #FE672E;
  margin-right: 0.25em;
  display: inline-block;
}
.art {
  text-align: center;
  padding-top: 16vw;
  background: transparent url(bg_1cQanHh.png) no-repeat center 0;
  background-size: cover;
  padding-bottom: 5vw;
}
.art .logosvg {
  width: 60vw;
}
.art .openApp {
  display: block;
  max-width: 81.3vw;
  padding: 1vw 0;
  margin: 0 auto;
  text-align: center;
  color: #D43c33;
  border: 1px solid;
  font-size: 4.3vw;
  line-height: 8.6vw;
  border-radius: 5.3vw;
  margin-bottom: 1vw;
  margin-top: 3vw;
}
.art .copyright {
  color: #888;
  font-size: 3.3vw;
  transform: scale(0.75);
  text-align: center;
}

/*# sourceMappingURL=index.css.map*/