* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
*::before,
*::after {
  box-sizing: border-box;
}
@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  background: transparent url(bRapGod_1a2CKT-.jpeg) no-repeat center;
}
.page .disc-container {
  position: relative;
}
.page .disc-container .pointer {
  width: 26vw;
  position: absolute;
  left: 46vw;
  z-index: 1;
}
.page .disc-container .disc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18vw;
  position: relative;
}
.page .disc-container .disc .icon-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  width: 20vw;
  height: 20vw;
  justify-content: center;
  align-items: center;
  border: solid 1px #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
.page .disc-container .disc .icon-wrapper .icon {
  width: 10vw;
  fill: #fff;
}
.page .disc-container .disc .ring {
  width: 80vw;
}
.page .disc-container .disc .light {
  width: 80vw;
  position: absolute;
  z-index: 1;
}
.page .disc-container .disc .cover {
  width: 50vw;
  position: absolute;
  border-radius: 50%;
  animation: circle 15s infinite linear;
  animation-play-state: paused;
}
.page .disc-container .playing .light,
.page .disc-container .playing .cover {
  animation: circle 15s infinite linear;
  animation-play-state: running;
}
.page .disc-container .icon-pause {
  display: none;
}
.page .disc-container .playing .icon-play {
  display: none;
}
.page .disc-container .playing .icon-pause {
  display: block;
}
.page .song-description {
  flex-grow: 1;
  color: #fff;
  text-align: center;
  line-height: 2;
  margin-top: 20px;
  z-index: 1;
  padding: 0vw 8.8vw;
}
.page .song-description h1 {
  font-size: 5vw;
  color: #fefefe;
}
.page .song-description h1 span {
  font-size: 4vw;
  color: rgba(255, 255, 255, 0.6);
}
.page .song-description .lyric {
  height: 27vw;
  overflow: hidden;
}
.page .song-description .lyric .lines {
  transition: transform 0.3s;
}
.page .song-description .lyric p {
  line-height: 9vw;
  font-size: 3.88vw;
  font-family: Helvetica, sans-serif;
  color: #ccc;
}
.page .song-description .lyric .active {
  color: #fff;
  font-size: 4vw;
  font-weight: 600;
}
.page .links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d43b32;
  z-index: 1;
}
.page .links a {
  width: 36vw;
  margin: 1em;
  text-align: center;
  text-decoration: none;
  background: transparent;
  border: #d43b32 1px solid;
  border-radius: 1.5vw;
  padding: 2vw;
  color: inherit;
  letter-spacing: 1vw;
}
.page .links .play {
  background: #d43b32;
  color: #fff;
}
.page:before {
  content: '';
  display: block;
  position: absolute;
  border: 1px solid;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
* {
  font-family: Helvetica, sans-serif;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3 {
  font-weight: normal;
  font-family: Helvetica, sans-serif;
  color: #333;
}
body {
  font-size: 3.7vw;
}
.userHide {
  display: none;
}
section > h2:first-child {
  font-size: 4.53vw;
  border-left: 2px solid #D33A31;
  margin: 4vw 0;
  padding-left: 2vw;
  line-height: 4.7vw;
  max-height: 3.7vw;
}
a {
  text-decoration: none;
  color: inherit;
}
p.loading {
  text-align: center;
  margin-top: 5vw;
}
ol.songItems {
  padding-left: 2.8vw;
}
ol.songItems li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.6vw 0;
  position: relative;
}
ol.songItems li h3 {
  font-size: 4.6vw;
  line-height: 7vw;
  color: #333;
}
ol.songItems li p {
  display: flex;
  font-size: 4vw;
  color: #888;
  line-height: 6vw;
  align-items: center;
  width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
}
ol.songItems li .playCl {
  width: 5.9vw;
  height: 5.9vw;
  position: absolute;
  right: 4vw;
  top: 50%;
  transform: translateY(-50%);
  fill: #AAA;
}
ol.songItems li .hide {
  display: none;
}
ol.songItems li .sq {
  width: 4.2vw;
  height: 4.2vw;
  fill: #FE672E;
  margin-right: 0.25em;
  display: inline-block;
}
ol.songItems li .close {
  width: 3.2vw;
  height: 3.2vw;
  position: absolute;
  right: 4vw;
  top: 50%;
  transform: translateY(-50%);
  fill: #AAA;
}
ol.songItems li .svgSearch,
ol.songItems li .time {
  width: 4vw;
  height: 4vw;
  fill: #ccc;
  margin-right: 0.25em;
  display: inline-block;
  position: absolute;
  left: -7.5vw;
}
.topbar {
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0;
  background: #D43C33;
  padding: 4.8vw 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topbar .logo {
  width: 38vw;
}
.topbar .sourceCode {
  max-height: 7vw;
  line-height: 7.2vw;
  border: solid #fff 1px;
  border-radius: 3.5vw;
  color: #fff;
  text-decoration: none;
  padding: 0 1em;
  letter-spacing: 0.1em;
}
.siteNav {
  position: fixed;
  z-index: 3;
  top: 16.3vw;
  background: #fff;
  width: 100%;
}
.siteNav > ol {
  display: flex;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.1em;
}
.siteNav > ol > li {
  flex: 1;
}
.siteNav > ol > li > span {
  max-height: 10.3vw;
  line-height: 11.3vw;
  display: inline-block;
  position: relative;
}
.siteNav > ol > li.active {
  color: #D43C33;
}
.siteNav > ol > li.active > span::before {
  content: '';
  position: absolute;
  border-bottom: solid 2px #D43C33;
  bottom: -0.3vw;
  left: -1.5vw;
  right: -1.5vw;
}
.tabContent > li {
  display: none;
  padding-top: 27vw;
  overflow-x: hidden;
}
.tabContent > li .hotblogHeader {
  background: url(hotblogBG_hAx-tvB.jpg) no-repeat;
  background-size: cover;
  position: relative;
  min-height: 39vw;
}
.tabContent > li .hotblogHeader .hotTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 39vw;
  padding-left: 5.33333vw;
}
.tabContent > li .hotblogHeader .hotTop .title {
  background: url(spritePic_-sT9bDD.png) no-repeat;
  background-size: 44.2vw 25.8vw;
  width: 37.9vw;
  height: 17.7vw;
  background-position: -6.4vw -7.7vw;
  z-index: 2;
}
.tabContent > li .hotblogHeader .hotTop .hottime {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 2.666666vw;
  font-size: 2vw;
  transform: scale(0.91);
  transform-origin: left top;
  z-index: 2;
}
.tabContent > li .hotblogHeader .hotTop::after {
  content: " ";
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.tabContent > li .songItems.hot li {
  display: flex;
  align-items: center;
  margin-left: 8vw;
}
.tabContent > li .songItems.hot li div {
  width: 7.4vw;
  color: #999;
  font: 4.53333vw/1.5 Helvetica, sans-serif;
  position: absolute;
  left: -8vw;
}
.tabContent > li .songItems.hot li:first-child div,
.tabContent > li .songItems.hot li:nth-child(2) div,
.tabContent > li .songItems.hot li:nth-child(3) div {
  color: #df3436;
}
.tabContent > li .hotfoot {
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: #999;
}
.tabContent > li .hotSearch {
  padding: 0 2.6666vw;
}
.tabContent > li .hotSearch h4 {
  font-size: 2vw;
  line-height: 3.2vw;
  color: #999;
  padding: 4vw 0 1.2vw 1vw;
}
.tabContent > li .hotSearch .list > li {
  border: solid 1px #ccc;
  font-size: 14px;
  padding: 0 4vw;
  margin: 1vw;
  border-radius: 6vw;
  line-height: 9vw;
  display: inline-block;
  color: #333;
}
.tabContent > li .hotSearch .songItems > li {
  margin-left: 6vw;
}
.tabContent > li .hotSearch .songItems > li h3 {
  font-size: 3.5vw;
  line-height: 7vw;
  color: #666;
}
.tabContent > li #output .searchResult {
  color: #507daf;
  line-height: 5vw;
  font-size: 4vw;
  padding: 4vw 3vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
}
.tabContent > li #output ol > li {
  margin-left: 6vw;
  line-height: 12vw;
  font-size: 4vw;
}
.tabContent > li #output ol > li .svgSearch {
  width: 5vw;
  height: 5vw;
}
.tabContent > li #output .noResult {
  margin-left: 50%;
  transform: translateX(-25%);
  line-height: 20vw;
}
.tabContent > li.active {
  display: block;
}
.tabContent #searchMusic {
  margin: 4vw 2.6vw;
  background: #ebecec;
  position: relative;
  padding: 0 8vw;
  border-radius: 50%;
  border-radius: 5vw;
}
.tabContent #searchMusic input {
  width: 100%;
  height: 8vw;
  background: transparent;
  font-size: 3.7vw;
  line-height: 4.8vw;
  border: 0;
  outline: none;
}
.tabContent #searchMusic .svgSearch {
  width: 3.8vw;
  height: 3.8vw;
  fill: #999;
  position: absolute;
  top: 2.2vw;
  left: 2.6vw;
}
.tabContent #searchMusic .svgClose {
  width: 3.8vw;
  height: 3.8vw;
  fill: #999;
  position: absolute;
  top: 2.2vw;
  right: 2.6vw;
}
.tabContent #searchMusic .searchName {
  position: absolute;
  color: #c9c9c9;
  font-size: 3.8vw;
  top: 1vw;
  left: 8vw;
  background: transparent;
  pointer-events: none;
  cursor: none;
}
.tabContent #searchMusic::after {
  content: '';
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  position: absolute;
  bottom: -4vw;
  left: -3vw;
  right: -3vw;
}
.playlists > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.playlists > ul li {
  width: calc(32.8333333%);
  margin-bottom: 4vw;
  position: relative;
}
.playlists > ul .listen {
  width: 3.2vw;
  height: 3.2vw;
  fill: #fff;
}
.playlists > ul span {
  position: absolute;
  top: 0;
  right: 1vw;
  color: #fff;
  font-size: 3.5vw;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  line-height: 7vw;
}
.playlists > ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 6vw;
  z-index: 2;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2), transparent);
}
.playlists > ul img {
  width: 100%;
}
.playlists > ul p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.95em;
  padding: 0.5vw 1.6vw;
  line-height: 4.6vw;
  color: #333;
}
.art {
  text-align: center;
  padding-top: 16vw;
  background: transparent url(bg_1cQanHh.png) no-repeat center 0;
  background-size: cover;
  padding-bottom: 5vw;
}
.art .logosvg {
  width: 60vw;
}
.art .openApp {
  display: block;
  max-width: 81.3vw;
  padding: 1vw 0;
  margin: 0 auto;
  text-align: center;
  color: #D43c33;
  border: 1px solid;
  font-size: 4.3vw;
  line-height: 8.6vw;
  border-radius: 5.3vw;
  margin-bottom: 1vw;
  margin-top: 3vw;
}
.art .copyright {
  color: #888;
  font-size: 3.3vw;
  transform: scale(0.75);
  text-align: center;
}
#playListPage {
  background: #f8f8f8;
}
#playListPage .plheader {
  height: 49.6vw;
  position: relative;
  padding: 8vw 2.6vw 8vw 4vw;
  overflow: hidden;
  z-index: 1;
}
#playListPage .plheader .bgCover {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(coverbg_L15voBj.jpg) no-repeat 50%;
  background-size: cover;
  filter: blur(20px);
  transform: scale(1.5);
  z-index: -1;
}
#playListPage .plheader .ct {
  display: flex;
}
#playListPage .plheader .ct .cover::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 6vw;
  z-index: 2;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6), transparent);
}
#playListPage .plheader .ct .cover {
  width: 35.05vw;
  height: 35.05vw;
  position: relative;
}
#playListPage .plheader .ct .cover img {
  width: 100%;
}
#playListPage .plheader .ct .cover span {
  color: #fff;
  position: absolute;
  right: 1vw;
  top: 0;
  display: flex;
  font-size: 3vw;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.15);
  align-items: center;
  line-height: 5vw;
}
#playListPage .plheader .ct .cover span .listen {
  width: 3.2vw;
  height: 3.2vw;
  fill: #fff;
  margin-right: 1vw;
}
#playListPage .plheader .ct .cover .songL {
  position: absolute;
  border-radius: 0 35% 35% 0;
  left: 0;
  top: 3vw;
  background: rgba(217, 48, 48, 0.8);
  padding-left: 1vw;
  width: 9.5vw;
}
#playListPage .plheader .ct .titleinfo {
  margin-left: 4.2vw;
}
#playListPage .plheader .ct .titleinfo h2 {
  color: #fff;
  font-size: 4.1vw;
  line-height: 5.86vw;
  height: 11.7vw;
  display: flex;
  align-items: center;
}
#playListPage .plheader .ct .titleinfo .info {
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  margin-top: 4vw;
  font-size: 3.7vw;
  display: flex;
  align-items: center;
}
#playListPage .plheader .ct .titleinfo .info img {
  width: 7.25vw;
  height: 7.25vw;
  border-radius: 50%;
}
#playListPage .plheader .ct .titleinfo .info span {
  margin-left: 1vw;
}
#playListPage .introduce {
  padding: 2.6vw 4vw;
  color: #666;
  font-size: 3.4vw;
}
#playListPage .introduce div {
  margin-bottom: 2.6vw;
  font-size: 3.4vw;
}
#playListPage .introduce div span {
  font-size: 3vw;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 20%;
  padding: .5vw 1vw;
  margin: 1vw;
}
#playListPage .playList {
  z-index: 3;
}
#playListPage .playList > h3 {
  font-size: 2.6vw;
  background: #eeeff0;
  line-height: 6.1vw;
  padding: 0 2.6666vw;
  color: #666;
  margin-top: 1vw;
}
#playListPage .playList .songItems > li {
  margin-left: 8vw;
}
#playListPage .playList .songItems > li div {
  position: absolute;
  left: -6vw;
  color: #999;
  font-size: 4.53vw;
}
#playListPage .playList .songItems > li a h3 {
  font-size: 4.5333vw;
  line-height: 6.666vw;
}
#playListPage .playList .songItems > li a p {
  font-size: 3.2vw;
  line-height: 4.88vw;
}

/*# sourceMappingURL=index.css.map*/