*{ font-family: Helvetica,sans-serif;}
ul,ol {list-style: none;}
h1,h2,h3 {font-weight: normal; font-family: Helvetica,sans-serif; color: #333;}
body {font-size: 3.7vw;}
.userHide {display: none;}
section>h2:first-child {font-size: 4.53vw; border-left: 2px solid #D33A31; margin:  4vw 0; padding-left: 2vw; line-height: 4.7vw; max-height: 3.7vw; }
a {text-decoration: none; color: inherit;}
p.loading {text-align: center; margin-top: 5vw;}
ol.songItems{padding-left: 2.8vw;
		li {display:flex; align-items: center; border-bottom: 1px solid rgba(0,0,0,.1); padding: 1.6vw 0; position: relative;
			h3 {font-size: 4.6vw; line-height: 7vw; color: #333}
			p {display: flex; font-size: 4vw; color: #888; line-height: 6vw; align-items: center; width: 280px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-break: normal;}
			.playCl {width: 5.9vw; height: 5.9vw; position: absolute; right: 4vw; top: 50%; transform: translateY(-50%); fill: #AAA;}
			.hide {display: none;}
			.sq {width: 4.2vw; height: 4.2vw; fill: #FE672E; margin-right: 0.25em; display: inline-block;}
			.close {width: 3.2vw; height: 3.2vw; position: absolute; right: 4vw; top: 50%; transform: translateY(-50%); fill: #AAA;}
			.svgSearch,.time {width: 4vw; height: 4vw; fill: #ccc; margin-right: 0.25em; display: inline-block; position: absolute; left: -7.5vw;}
		}
	}
 
.topbar {position: fixed; width: 100%; z-index: 5; top: 0; background: #D43C33; padding: 4.8vw 3vw; display: flex; align-items: center; justify-content: center;
	.logo {width: 38vw;}
	.sourceCode {max-height: 7vw; line-height: 7.2vw; border: solid #fff 1px; border-radius: 3.5vw; color: #fff; text-decoration: none; padding: 0 1em; letter-spacing: 0.1em;}
}

.siteNav { position: fixed; z-index: 3; top: 16.3vw; background: #fff; width: 100%;
	>ol {display: flex; text-align: center; border-bottom: 1px solid rgba(0,0,0,.1); font-size: 1.1em;
		>li {flex: 1;
			>span {max-height: 10.3vw;line-height: 11.3vw; display: inline-block; position: relative;}
		}
		>li.active {color: #D43C33;
			>span::before{content: ''; position: absolute; border-bottom: solid 2px #D43C33; bottom: -0.3vw; left: -1.5vw; right: -1.5vw;}
		}
	}
}

.tabContent {
	>li {display: none; padding-top: 27vw; overflow-x: hidden; 
		.hotblogHeader {background: url(../img/hotblogBG.jpg) no-repeat; background-size: cover; position: relative; min-height: 39vw;
			.hotTop {	display: flex; flex-direction: column; justify-content: center; min-height: 39vw; padding-left: 5.33333vw;
				.title {background: url(../img/spritePic.png)no-repeat; background-size: 44.2vw 25.8vw; width: 37.9vw; height: 17.7vw; background-position: -6.4vw -7.7vw; z-index: 2;}
				.hottime {color:hsla(0,0%,100%,.8); margin-top: 2.666666vw; font-size: 2vw; transform: scale(.91); transform-origin: left top; z-index: 2;}
			}
			.hotTop::after {content: " "; z-index: 1; background-color: rgba(0,0,0,.2); position: absolute; left: 0; top: 0; right: 0; bottom: 0;} 
		}
		.songItems.hot{ 
		li {display: flex; align-items: center; margin-left: 8vw;
			div { width: 7.4vw; color: #999; font: 4.53333vw/1.5 Helvetica,sans-serif; position: absolute; left: -8vw;}
		}
		li:first-child div, li:nth-child(2) div, li:nth-child(3) div{color: #df3436;}
		}
		.hotfoot{height: 55px; line-height: 55px; text-align: center; color: #999; }
		.hotSearch { padding: 0 2.6666vw;
			h4 {font-size: 2vw; line-height: 3.2vw; color: #999; padding: 4vw 0 1.2vw 1vw;}
			.list>li{ border: solid 1px #ccc; font-size: 14px; padding: 0 4vw; margin: 1vw; border-radius: 6vw; line-height: 9vw; display: inline-block; color: #333;}
			.songItems>li {margin-left: 6vw;
				h3 { font-size: 3.5vw; line-height: 7vw; color: #666;}
			}
		}
		#output {
			.searchResult { color: #507daf; line-height: 5vw; font-size: 4vw; padding: 4vw 3vw; border-bottom: 1px solid rgba(0,0,0,0.1); width: 100vw; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-break: normal;}
			ol>li {margin-left: 6vw; line-height: 12vw; font-size: 4vw;
				.svgSearch {width: 5vw; height: 5vw;}
			}
			.noResult {margin-left: 50%; transform: translateX(-25%);line-height: 20vw;} 
		}
	}
	>li.active {display: block}
	#searchMusic { margin: 4vw 2.6vw; background: #ebecec; position: relative; padding: 0 8vw; border-radius: 50%; border-radius: 5vw; 
		input{ width: 100%; height: 8vw; background: transparent; font-size: 3.7vw; line-height: 4.8vw; border: 0; outline: none;}
		.svgSearch {width: 3.8vw; height: 3.8vw; fill: #999; position: absolute; top: 2.2vw; left: 2.6vw;}
		.svgClose {width: 3.8vw; height: 3.8vw; fill: #999; position: absolute; top: 2.2vw; right: 2.6vw;}
		.searchName {    position: absolute; color: #c9c9c9; font-size: 3.8vw; top: 1vw; left: 8vw; background: transparent; pointer-events: none; cursor: none;}
	}
	#searchMusic::after{content: ''; border-bottom: 1px solid rgba(0,0,0,.1); display: block; position: absolute; bottom: -4vw; left: -3vw; right: -3vw;}
}

.playlists { //margin-top: 31.5vw; 
	>ul{ display: flex; flex-wrap: wrap; justify-content: space-between;
		li { width: calc(33.3333333% - 0.5vw); margin-bottom: 4vw; position: relative;};
		.listen {width: 3.2vw; height: 3.2vw; fill: #fff;}
		span { position: absolute; top: 0; right: 1vw; color: #fff; font-size: 3.5vw; text-shadow: 1px 0 0 rgba(0,0,0,.15); display: flex; align-items: center; line-height: 7vw;}
		li::before {content: ""; display: block; position: absolute; width: 100%; height: 6vw; z-index: 2; background-image: linear-gradient(180deg,rgba(0,0,0,.2),transparent)}
		img { width: 100%;}
		p {display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; font-size: 0.95em; padding: 0.5vw 1.6vw; line-height: 4.6vw; color: #333;}
	}
}

.lastestMusic {
	// ol{padding-left: 2.8vw;
	// 	li {border-bottom: 1px solid #E2E2E3; padding: 1.6vw 0; position: relative;
	// 		h3 {font-size: 4.6vw; line-height: 7vw; color: #333}
	// 		p {font-size: 4vw; color: #888; display: flex; line-height: 1; align-items: center;}
	// 		.playCl {width: 5.9vw; height: 5.9vw; position: absolute; right: 4vw; top: 50%; transform: translateY(-50%); fill: #AAA;}
	// 		.hide {display: none;}
	// 		.sq {width: 4.2vw; height: 4.2vw; fill: #FE672E; margin-right: 0.25em; display: inline-block;}
	// 	}
	// }
}

.art { text-align: center; padding-top: 16vw; background: transparent url(../img/bg.png) no-repeat center 0; background-size: cover; padding-bottom: 5vw;
	.logosvg { width: 60vw; };
	.openApp { display: block; max-width: 81.3vw; padding: 1vw 0; margin: 0 auto; text-align: center; color: #D43c33; border: 1px solid; font-size: 4.3vw; line-height: 8.6vw; border-radius: 5.3vw; margin-bottom: 1vw; margin-top: 3vw;}
	.copyright {color: #888; font-size: 3.3vw; transform: scale(.75); text-align: center;}
}